




h1 {
  color: #FA8CCC;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}





.preview-image {
  width: 250px;
  margin: auto;
  display: block;
  padding: 14px 40px;
  border-radius: 8px;
  height: auto;
}



button{
  background-color: #8AEE8F;
  border: none;
  color: #3D3A3A;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
  height: auto;
}
.takephoto {
  width: 250px;
  height: 30px;
}

.map{
  padding: 12px 180px;
  height: auto;
}



#addPin{
  font-size: 18px;
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bold{
 font-weight: bold;
 text-align: center;
 width : 300px;

}
#head{
  font-weight: bold;
}

img{
  width : 300px;
  height: auto;
  border-radius: 25px;
  padding: 20px;
}
p{
  width : 300px;
  height: auto;
}
#map {
  height: 100%;
    
}






